<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product App</title>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <div id="app">
        <div class="product">

            <div class="product-image">
                <!-- <img src="" /> -->
                <!-- <img v-bind:src="image" /> -->
                <!-- <img v-bind:src="image" v-bind:alt="altText" /> -->
                <img :src="image" />
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inStock">In stock</p>
                <p v-else>Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{ variant.variantColor }}</p>
                </div>

                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>

                <button v-on:click="addToCart">Add to cart</button>
            </div>

        </div>
    </div>

    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="main.js"></script>
</body>
</html>
